[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/gray-scott-sim"]
	path = external/gray-scott-sim
	url = https://github.com/scicomp-durham/gray-scott-sim.git
